{% extends 'base.html.twig' %}

{% block title %}Comedian index{% endblock %}

{% block body %}
    <h1>Comedian index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Links</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comedian in comedians %}
            <tr>
                <td>{{ comedian.id }}</td>
                <td>{{ comedian.name }}</td>
                <td>{{ comedian.surname }}</td>
                <td>{{ comedian.links ? comedian.links|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_comedian_show', {'id': comedian.id}) }}">show</a>
                    <a href="{{ path('app_comedian_edit', {'id': comedian.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comedian_new') }}">Create new</a>
{% endblock %}
